@font-face {
  font-family: 'iconfont';
  src: url('iconfont.eot');
  src: url('iconfont.eot?#iefix') format('embedded-opentype'), url('iconfont.woff2') format('woff2'), url('iconfont.woff') format('woff'), url('iconfont.ttf') format('truetype'), url('iconfont.svg#iconfont') format('svg');
}
#pulic-spice {
  margin-top: 20px;
  width: 100%;
  min-height: 816px;
}
#pulic-spice li {
  float: left;
  position: relative;
  width: 263px;
  height: 382px;
  padding-right: 16px;
}
#pulic-spice li:nth-child(4),
#pulic-spice li:nth-child(8) {
  padding-right: 0;
}
#pulic-spice li a {
  width: 263px;
  height: 263px;
  background-color: #f9f9f9;
  display: block;
  position: relative;
}
#pulic-spice li a img {
  width: 100%;
  height: 100%;
}
#pulic-spice li a .special-offe {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 10px;
  left: 10px;
  background-color: #d33a31;
  border-radius: 50%;
  color: #fff;
}
#pulic-spice li a .special-offe .current-price {
  display: block;
  position: absolute;
  top: 12px;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 15px;
}
#pulic-spice li a .special-offe .old-price {
  position: absolute;
  top: 30px;
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 13px;
  opacity: 0.7;
}
#pulic-spice li .rmd-describe {
  text-align: center;
  margin-top: 10px;
}
#pulic-spice li .rmd-describe h3 {
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
#pulic-spice li .rmd-describe h3 span {
  border: 1px solid #d74d45;
  box-sizing: border-box;
  line-height: 19px;
  padding: 0 3px;
  border-radius: 1px ;
  color: #d74d45;
  font-size: 12px;
}
#pulic-spice li .rmd-describe h3 a {
  display: inline;
  color: #333;
}
#pulic-spice li .rmd-describe p {
  white-space: nowrap;
  color: #d33a31;
  margin-top: 4px;
}
#pulic-spice li .rmd-describe p em {
  font-size: 16px;
}
#pulic-spice a {
  text-decoration: none;
}
.box {
  width: 100%;
  height: 100%;
}
.box .header {
  width: 1100px;
  margin: 0 auto;
  height: 70px;
}
.box .header .header-item {
  float: left;
}
.box .header .header-item .icon-home {
  float: left;
  width: 290px;
  height: 70px;
  background-image: url(image/modules.png);
  background-position: 0 -48px;
}
.box .header .header-item .search {
  float: left;
  margin-left: 334px;
  width: 300px;
  height: 70px;
}
.box .header .header-item .search .input-wrap {
  width: 300px;
  height: 69px;
  padding-top: 1px;
}
.box .header .header-item .search .input-wrap form {
  width: 100%;
  height: 38px;
  margin-top: 15px;
  background-position: 0px 0px;
  background-image: url(image/modules.png);
  white-space: normal;
}
.box .header .header-item .search .input-wrap form input {
  outline: none;
  width: 80%;
  margin: 10px 0 0 34px;
  border: 0;
  background: transparent;
}
.box .header .header-item .shopCart {
  float: left;
  width: 36px;
  height: 36px;
  margin: 17px 0 0 41px;
  position: relative;
}
.box .header .header-item .shopCart a {
  display: inline-block;
  width: 36px;
  height: 36px;
}
.box .header .header-item .shopCart a img {
  width: 36px;
  height: 36px;
}
.box .header .header-item .login-warp {
  float: left;
  width: 62px;
  height: 36px;
  margin: 15px 0 0 37px;
}
.box .header .header-item .login-warp .selects {
  width: 62px;
  height: 36px;
  position: relative;
}
.box .header .header-item .login-warp .selects .login {
  width: 36px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  font-size: 14px;
}
.box .header .header-item .login-warp .selects i {
  position: absolute;
  left: 0;
  top: 0;
  top: 12px;
  left: 50px;
  font-size: 12px;
}
.box .banners {
  width: 100%;
  height: 480px;
  overflow: hidden;
  position: relative;
}
.box .banners .banner-warp {
  height: 480px;
  background-color: orange;
}
.box .banners .banner-warp .banner-itme {
  top: 0;
  left: 0;
  width: 1100px;
  height: 480px;
  overflow: hidden;
}
.box .banners .banner-warp .banner-itme a {
  z-index: 9;
  top: 50%;
  left: 50%;
  width: 1100px;
  height: 480px;
  position: absolute;
  margin-top: -240px;
  margin-left: -550px;
}
.box .banners .banner-warp .banner-itme a img {
  width: 100%;
  height: 100%;
}
.box .tab {
  width: 100%;
  border-bottom: snow 1px rgba(0, 0, 0, 0.1);
}
.box .tab .tab-warp {
  width: 1100px;
  margin: 0 auto;
}
.box .tab .tab-warp ul {
  text-align: center;
}
.box .tab .tab-warp ul li {
  float: left;
  width: 275px;
  height: 80px;
}
.box .tab .tab-warp ul li a {
  float: left;
  width: 250px;
  padding: 0 10px;
  height: 80px;
  text-align: center;
}
.box .tab .tab-warp ul li a img {
  display: inline-block;
  width: 48px;
  height: 48px;
  vertical-align: top;
  padding-top: 16px;
}
.box .tab .tab-warp ul li a span {
  display: inline-block;
  max-width: 190px;
  height: 80px;
  padding-left: 12px;
  line-height: 80px;
  font-size: 14px;
  font-weight: bold;
}
.box .tab .tab-warp ul li a .yunbei {
  background-image: url(image/jifen.png);
  display: inline-block;
  width: 48px;
  height: 48px;
  margin-top: 15px;
}
.box .tab .tab-warp ul li a .right {
  display: inline-block;
  height: 80px;
  padding-left: 8px;
  vertical-align: top;
}
.box .tab .tab-warp ul li a .right .txt {
  padding-top: 20px;
  font-size: 14px;
  font-weight: bold;
  color: #333333;
}
.box .tab .tab-warp ul li a .right .count {
  display: inline-block;
  font-size: 14px;
  color: #d33a31;
}
.box .tab .tab-warp ul li a .right .jifen {
  display: inline-block;
  padding: 2px 0 0 4px;
  font-size: 12px;
  color: #d33a31;
}
.box .contain {
  width: 1100px;
  margin: 0 auto;
  background: #fff;
  padding-bottom: 160px;
}
.box .contain .contain-wrap {
  width: 100%;
  margin: 0;
  height: 100%;
}
.box .contain .contain-wrap .img-warp {
  width: 100%;
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
}
.box .contain .contain-wrap .img-warp a {
  display: block;
}
.box .contain .contain-wrap .img-warp a img {
  width: 100%;
  height: 100%;
}
.box .contain .contain-wrap .editorial-rmdations {
  min-height: 816px;
  margin-top: 50px;
  width: 100%;
  height: auto;
}
.box .contain .contain-wrap .editorial-rmdations .rmd-text {
  font-weight: bold;
  font-size: 24px;
  color: #333;
}
.box .contain .contain-wrap .digital-album {
  position: relative;
  width: 100%;
  height: 180px;
  margin-top: 10px;
}
.box .contain .contain-wrap .digital-album .album-left {
  width: 700px;
  margin: 0 20px 0 60px;
  height: 180px;
}
.box .contain .contain-wrap .digital-album .album-left span {
  display: block;
  padding-top: 28px;
  font-size: 32px;
  font-weight: bold;
  color: #000000;
}
.box .contain .contain-wrap .digital-album .album-left span i {
  position: relative;
  top: 5px;
  margin-right: 10px;
  display: inline-block;
  width: 32px;
  height: 32px;
  background-image: url(image/163img/ia_100000100.png);
}
.box .contain .contain-wrap .digital-album .album-left .buy {
  position: relative;
  margin-top: 9px;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.7);
}
.box .contain .contain-wrap .digital-album .album-left a {
  display: block;
  margin-top: 18px;
  font-size: 24px;
  font-weight: bold;
  color: #000000;
  text-decoration: none;
}
.box .contain .contain-wrap .digital-album .album-right {
  position: absolute;
  top: 30px;
  right: 50px;
  width: 210px;
  height: 120px;
}
.box .contain .contain-wrap .digital-album .album-right .small {
  position: absolute;
  top: 15px;
  left: 0;
  width: 100px;
  height: 100px;
}
.box .contain .contain-wrap .digital-album .album-right .big {
  position: absolute;
  z-index: 99;
  top: 0;
  left: 60px;
  width: 120px;
  height: 120px;
}
.box .contain .contain-wrap .digital-album .album-right i {
  position: absolute;
  top: 0;
  left: 175px;
  width: 35px;
  height: 120px;
  border: none;
  background-image: url(image/163img/ia_100000101.png);
  background-position: 0px -73px;
}
.box .contain .contain-wrap .hot-goods {
  margin-top: 50px;
  width: 100%;
  height: auto;
}
.box .contain .contain-wrap .hot-goods .hot-sp {
  font-weight: bold;
  font-size: 24px;
}
.box .contain .contain-wrap .hot-goods .goods-list {
  height: 100%;
}
.box .contain .nav-right .nav-wrap {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -138px;
  margin-left: 570px;
  z-index: 98;
  width: 60px;
  height: auto;
  font-size: 12px;
  background: #fff;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.4);
}
.box .contain .nav-right .nav-wrap .nav-item {
  height: 58px;
  border: 1px solid transparent;
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.box .contain .nav-right .nav-wrap .nav-item span .icon-carts {
  display: block;
  width: 20px;
  height: 20px;
  margin: 11px 0 5px 17px;
  background-position: 0px -71px;
  background-image: url(image/totop.png);
}
.box .contain .nav-right .nav-wrap .nav-item span:nth-child(1) {
  display: block;
  margin-top: 13px;
  line-height: 1.5;
  color: #666666;
}
.box .contain .nav-right .nav-wrap .nav-item .icon-kefu {
  display: block;
  width: 20px;
  height: 20px;
  margin: 11px 0 5px 19px;
  background-position: 0px -101px;
  background-image: url(image/totop.png);
}
.box .contain .nav-right .nav-wrap #top {
  height: 35px;
  border: none;
  background-position: -70px 0px;
  background-image: url('image/totop.png');
}
.box .contain .nav-right .nav-wrap #top a {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
}
.box .foot {
  margin-top: -120px;
  height: 160px;
  background: #f2f2f2;
}
.box .foot .foot-contain {
  width: 1100px;
  margin: 0 auto;
}
.box .foot .foot-contain .foot-warp .left {
  float: left;
  width: 490px;
  padding-top: 35px;
  line-height: 24px;
}
.box .foot .foot-contain .foot-warp .right {
  float: right;
  width: 330px;
  margin-top: 30px;
}
.box .foot .foot-contain .foot-warp .right li {
  margin-left: 30px;
  width: 60px;
  height: 70px;
  float: left;
  text-align: center;
}
.box .foot .foot-contain .foot-warp .right li a {
  text-decoration: none;
}
.box .foot .foot-contain .foot-warp .right li a .iconfont {
  font-size: 40px;
  padding: 0 10px;
}
.box .foot .foot-contain .foot-warp .right li:nth-child(1) {
  margin-left: 0;
}
